*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Smooch Sans", serif;
}

header {
  background:#FA897B;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;

}

header >img {
  width: 44px;
  margin-right: 10px;
}

header >h1{
  font-size:  2.3rem;
  font-weight: 500;
}

article.journal-entry{
  display: flex;
  margin-right: 20px;

  padding: 40px 40px;
  gap: 15px;
}

.main-img{
  height: 178px;
  width: 125px;
  object-fit: cover;

  border-radius: 5px;
}

.marker-logo{
  width: 20px;
}

.info-container span.country{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-right: 12px;
}

.info-container a{
  color: #2b283a;
  font-size: 1.2rem;
}

.info-container a:visited{
  color: #918e9b;
}

.info-container h2.entry-title{
  margin-top: 10px;
  margin-bottom: 15px;
}

.info-container p.trip-dates{
  font-weight: bold;
}

.info-container p.entry-text{
  line-height: 1.5;
  font-size: 1.1rem;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  
  max-width: 70ch;
}

